[submodule "mathjax"]
	path = mathjax
	url = https://github.com/mathjax/MathJax-src.git
[submodule "mathjax-prebuilt"]
	path = mathjax-prebuilt
	url = https://github.com/mathjax/MathJax.git
[submodule "KaTeX"]
	path = KaTeX
	url = https://github.com/thorimur/KaTeX.git
