# macOS leaves these files everywhere:
.DS_Store
# Created by `lake exe cache get` if no home directory is available
.cache
# `lake` stores its files here:
.lake
Cajal-2.lean
Cajal-3.lean
Cajal-4.lean
Cajal-6.lean
funky.lean
misty.lean
