name: Autolabel PRs

on:
  pull_request_target: #types: [opened] # we act on all PRs, but only label a PR if it was just opened
  push:
    paths:
      - scripts/autolabel.lean
      - .github/workflows/add_label_from_diff.yaml

jobs:
  add_topic_label:
    name: Add topic label
    runs-on: ubuntu-latest
    # Don't run on forks, where we wouldn't have permissions to add the label anyway.
    if: github.repository == 'leanprover-community/mathlib4'
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Configure Lean
        uses: leanprover/lean-action@f807b338d95de7813c5c50d018f1c23c9b93b4ec # 2025-04-24
        with:
          auto-config: false
          use-github-cache: false
          use-mathlib-cache: false
      - name: lake exe autolabel
        id: autolabel
        run: |
          # the checkout dance, to avoid a detached head
          git checkout master
          git checkout -
          labels="$(lake exe autolabel)"
          printf '%s\n' "${labels}"
          # extract
          label="$(printf '%s' "${labels}" | sed -n 's=.*#\[\([^,]*\)\].*=\1=p')"
          printf 'label: "%s"\n' "${label}"
          if [ "@{{ github.event_name }}" == 'opened' ]
          then
            if [ -n "${label}" ]
            then
              printf 'Applying label %s\n' "${label}"
              curl --request POST \
                --header 'Accept: application/vnd.github+json' \
                --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
                --header 'X-GitHub-Api-Version: 2022-11-28' \
                --url https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels \
                --data "{'labels':[${label}]}"
            else
              echo "There is no single label that we could apply, so we are not applying any label."
            fi
          else
            printf $'The action type was \'%s\', not \'opened\', so we do not apply any label.\n' "${{ github.event_name }}"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
