name: automatically assign reviewers

on:
  schedule:
    - cron: "37 0 * * *" # At 00:37 UTC every day
  workflow_dispatch:

jobs:
  autoassign-reviewers:
    if: github.repository == 'leanprover-community/mathlib4'
    name: assign automatically proposed reviewers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: master
          sparse-checkout: |
            scripts/assign_reviewers.py

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'

      - name: assign reviewers
        env:
          ASSIGN_REVIEWERS_TOKEN: ${{ secrets.ASSIGN_REVIEWERS }}
        run: |
          python3 scripts/assign_reviewers.py
