name: Bench output summary

on:
  issue_comment:
    types: created

jobs:
  Produce_bench_summary:
    name: Post summary of benchmarking results
    if: github.event.issue.pull_request && (startsWith(github.event.comment.body, 'Here are the [benchmark results]'))
    runs-on: ubuntu-latest
    steps:
      - name: install elan
        run: |
          set -o pipefail
          curl -sSfL https://github.com/leanprover/elan/releases/download/v3.1.1/elan-x86_64-unknown-linux-gnu.tar.gz | tar xz
          ./elan-init -y --default-toolchain none
          echo "$HOME/.elan/bin" >> "${GITHUB_PATH}"

      - uses: actions/checkout@v4
        with:
          ref: adomani/improve_messaging_bench_action #master
          sparse-checkout: |
            scripts/bench_summary.lean
            .github/workflows/bench_summary_comment.yml

      - name: Summarize bench output
        run: |
          {
            cat scripts/bench_summary.lean
            printf $'run_cmd BenchAction.addBenchSummaryComment %s "leanprover-community/mathlib4"' "${PR}"
            printf $'\nrun_cmd Lean.logInfo "[CI run](https://github.com/%s/actions/runs/%s)"\n' "${{ github.repository }}" "${{ github.run_id }}"
          } |
            lake env lean --stdin
        env:
          PR:  ${{ github.event.issue.number }}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
