name: bot fix style (comment)

on:
  issue_comment:
    types: [created, edited]

jobs:
  fix_style:
    name: Fix style issues from lint
    if: (github.event.issue.pull_request != 'null') && github.event.pull_request.draft == false && (startsWith(github.event.comment.body, 'bot fix style') || contains(toJSON(github.event.comment.body), '\nbot fix style'))
    runs-on: ubuntu-latest
    steps:
      - name: cleanup
        run: |
          find . -name . -o -prune -exec rm -rf -- {} +

      # - uses: actions/checkout@v4
      #   with:
      #     token: ${{ secrets.NIGHTLY_TESTING }}

      - name: Checkout PR branch
        run: |
            gh pr checkout ${{ github.event.issue.number }}
        env:
            GH_TOKEN: ${{ secrets.NIGHTLY_TESTING }}

      - name: install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: install elan
        run: |
          set -o pipefail
          curl -sSfL https://github.com/leanprover/elan/releases/download/v3.1.1/elan-x86_64-unknown-linux-gnu.tar.gz | tar xz
          ./elan-init -y --default-toolchain none
          echo "$HOME/.elan/bin" >> "${GITHUB_PATH}"

      # run the same linting steps as in lint_and_suggest_pr.yaml

      - name: lint
        continue-on-error: true  # allows the following `reviewdog` step to add GitHub suggestions
        run: |
          lake exe lint-style --fix

      - name: Install bibtool
        run: |
          sudo apt-get update
          sudo apt-get install -y bibtool

      - name: lint references.bib
        continue-on-error: true  # allows the following `reviewdog` step to add GitHub suggestions
        run: |
          ./scripts/lint-bib.sh

      - name: update {Mathlib, Tactic, Counterexamples, Archive}.lean
        continue-on-error: true  # allows the following `reviewdog` step to add GitHub suggestions
        run: lake exe mk_all

      - name: Commit and push changes
        run: |
          git config user.name "leanprover-community-mathlib4-bot"
          git config user.email "leanprover-community-mathlib4-bot@users.noreply.github.com"
          git add .
          # Don't fail if there's nothing to commit
          git commit -m "commit changes from style linters" || true
          git push origin HEAD
