name: Discover `lean-pr-testing` branches

on:
  push:
    branches:
      - nightly-testing
    paths:
      - lean-toolchain

jobs:
  discover-lean-pr-testing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout mathlib4 repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        repository: leanprover-community/mathlib4
        ref: nightly-testing
        fetch-depth: 0  # Fetch all branches

    - name: Set up Git
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"

    - name: Determine old and new lean-toolchain
      id: determine-toolchains
      run: |
        # `lean-toolchain` contains a string of the form "leanprover/lean4:nightly-2024-11-20"
        # We grab the part after the ":"
        NEW=$(cut -f2 -d: lean-toolchain)

        # Find the commit hash of the previous change to `lean-toolchain`
        PREV_COMMIT=$(git log -2 --format=format:%H -- lean-toolchain | tail -1)

        # Get the contents of `lean-toolchain` from the previous commit
        # The "./" in front of the path is important for `git show`
        OLD=$(git show "$PREV_COMMIT":./lean-toolchain | cut -f2 -d:)

        echo "old=$OLD"
        echo "new=$NEW"
        echo "old=$OLD" >> "$GITHUB_OUTPUT"
        echo "new=$NEW" >> "$GITHUB_OUTPUT"

    - name: Clone lean4 repository and get PRs
      id: get-prs
      run: |
        NIGHTLY_URL="https://github.com/leanprover/lean4-nightly.git"

        # Create a temporary directory for cloning
        cd "$(mktemp -d)" || exit 1

        # Clone the repository with a depth of 1
        git clone --depth 1 "$NIGHTLY_URL"

        # Navigate to the cloned repository
        cd lean4-nightly || exit 1

        # Use the OLD and NEW toolchains determined in the previous step
        OLD="${{ steps.determine-toolchains.outputs.old }}"
        NEW="${{ steps.determine-toolchains.outputs.new }}"

        # Fetch the $OLD tag
        git fetch --depth=1 origin tag "$OLD" --no-tags
        # Fetch the $NEW tag.
        # This will only fetch commits newer than previously fetched commits (ie $OLD)
        git fetch origin tag "$NEW" --no-tags

        # Find all commits to lean4 between the $OLD and $NEW toolchains
        # and extract the github PR numbers
        # (drop anything that doesn't look like a PR number from the final result)
        PRS=$(git log --oneline "$OLD..$NEW" | sed 's/.*(#\([0-9]\+\))$/\1/' | grep -E '^[0-9]+$')

        # Output the PRs
        echo "$PRS"
        printf "prs<<EOF\n%s\nEOF" "$PRS" >> "$GITHUB_OUTPUT"

    - name: Use merged PRs information
      id: find-branches
      run: |
        # Use the PRs from the previous step
        PRS="${{ steps.get-prs.outputs.prs }}"
        echo "=== PRS ========================="
        echo "$PRS"
        echo "$PRS" | tr ' ' '\n' > prs.txt
        echo "=== prs.txt ====================="
        cat prs.txt
        MATCHING_BRANCHES=$(git branch -r | grep -f prs.txt | grep "lean-pr-testing")
        echo "=== MATCHING_BRANCHES ==========="
        echo "$MATCHING_BRANCHES"
        echo "================================="

        # Initialize an empty variable to store branches with relevant diffs
        RELEVANT_BRANCHES=""

        # Loop through each matching branch
        for BRANCH in $MATCHING_BRANCHES; do
            echo " === Testing $BRANCH for relevance."
            # Get the diff filenames
            DIFF_FILES=$(git diff --name-only "origin/nightly-testing...$BRANCH")

            # Check if the diff contains files other than the specified ones
            if echo "$DIFF_FILES" | grep -v -e 'lake-manifest.json' -e 'lakefile.lean' -e 'lean-toolchain'; then
                # Extract the actual branch name
                ACTUAL_BRANCH=${BRANCH#origin/}

                # Append the branch details to RELEVANT_BRANCHES
                RELEVANT_BRANCHES="$RELEVANT_BRANCHES""$ACTUAL_BRANCH"$' '
            fi
        done

        # Output the relevant branches
        echo "=== RELEVANT_BRANCHES ==========="
        echo "'$RELEVANT_BRANCHES'"
        printf "branches<<EOF\n%s\nEOF" "$RELEVANT_BRANCHES" >> "$GITHUB_OUTPUT"

        # Check if there are relevant branches, recording the outcome in the `branches_exist` variable
        if [ -z "${RELEVANT_BRANCHES}" ]; then
          echo "branches_exist=false" >> "$GITHUB_ENV"
        else
          echo "branches_exist=true" >> "$GITHUB_ENV"
        fi

    - name: Prepare Zulip message
      id: zulip-message
      run: |
        BRANCHES="${{ steps.find-branches.outputs.branches }}"
        {
          printf $'msg<<EOF\nWe will need to merge the following branches into `nightly-testing`:\n'
          printf $'```bash\n'
          for BRANCH in $BRANCHES; do
            PR_NUMBER=$(echo "$BRANCH" | grep -oP '\d+$')
            GITHUB_DIFF="https://github.com/leanprover-community/mathlib4/compare/nightly-testing...lean-pr-testing-$PR_NUMBER"
            printf $'# Diff: %s\n' "$GITHUB_DIFF"
            printf $'scripts/merge-lean-testing-pr.sh %s   # %s\n' "$PR_NUMBER" "$BRANCH"
            printf '\n'
          done
          printf $'```\n'
          printf "EOF"
        } >> "$GITHUB_OUTPUT"

    - name: Send message on Zulip
      if: env.branches_exist == 'true'
      uses: zulip/github-actions-zulip/send-message@e4c8f27c732ba9bd98ac6be0583096dea82feea5 # v1.0.2
      with:
        api-key: ${{ secrets.ZULIP_API_KEY }}
        email: 'github-mathlib4-bot@leanprover.zulipchat.com'
        organization-url: 'https://leanprover.zulipchat.com'
        to: 'nightly-testing'
        type: 'stream'
        topic: 'Mergeable lean testing PRs'
        content: |
          ${{ steps.zulip-message.outputs.msg }}
