name: Late importers report

on:
  push:
    branches-ignore:
      # ignore tmp branches used by bors
      - 'staging.tmp*'
      - 'trying.tmp*'
      - 'staging*.tmp'
      - 'nolints'
      # ignore staging branch used by bors, this is handled by bors.yml
      - 'staging'
  merge_group:

jobs:
  late-importers:
    name: Build
    runs-on: pr
    steps:
    - name: cleanup
      run: |
        find . -name . -o -prune -exec rm -rf -- {} +
        # Delete all but the 5 most recent toolchains.
        # Make sure to delete both the `~/.elan/toolchains/X` directory and the `~/.elan/update-hashes/X` file.
        # Skip symbolic links (`-type d`), the current directory (`! -name .`), and `nightly` and `stable`.
        if cd ~/.elan/toolchains && find . -maxdepth 1 -type d ! -name . -print0 | xargs -0 ls -1td | grep -v 'nightly$' | grep -v 'stable$' | tail -n +6 | xargs -I {} sh -c 'echo {} && rm -rf "{}" && rm "../update-hashes/{}"'; then
            : # Do nothing on success
        else
            : # Do nothing on failure, but suppress errors
        fi

    - name: install elan
      run: |
        set -o pipefail
        curl -sSfL https://github.com/leanprover/elan/releases/download/v3.1.1/elan-x86_64-unknown-linux-gnu.tar.gz | tar xz
        ./elan-init -y --default-toolchain none
        echo "$HOME/.elan/bin" >> "${GITHUB_PATH}"

    - uses: actions/checkout@v4

    - name: If using a lean-pr-release toolchain, uninstall
      run: |
        if [[ $(cat lean-toolchain) =~ ^leanprover/lean4-pr-releases:pr-release-[0-9]+$ ]]; then
          printf 'Uninstalling transient toolchain %s\n' "$(cat lean-toolchain)"
          elan toolchain uninstall "$(cat lean-toolchain)"
        fi

    - name: print lean and lake versions
      run: |
        lean --version
        lake --version

    - name: add minImports linter option
      run: |
        # set `linter.minImports option` to true in `lakefile`
        sed -i -- '/^  -- '\`'latest_import.yml'\`' uses this comment/{s=^=  ⟨`linter.minImports, true⟩,\n=}' lakefile.lean

        # import the `minImports` linter in `Mathlib.Init`
        sed -i -z 's=^=import Mathlib.Tactic.Linter.MinImports\n=' Mathlib/Init.lean

        # remove the `Mathlib.Init` import from the `minImports` command to avoid a loop
        sed -i '/import Mathlib.Init/d' Mathlib/Tactic/MinImports.lean

        # stage the changes in git so that `git diff` can confirm what changed
        git add -u
        git diff HEAD #lakefile.lean Mathlib/Init.lean Mathlib/Tactic/MinImports.lean

        printf $'\n\nRunning a test %slake build` to verify, for instance, the absence of import loops\n' $'`'
        lake build Mathlib.Init

    - name: build mathlib
      id: build
      uses: liskin/gh-problem-matcher-wrap@v3
      with:
        linters: gcc
        run: |
          lake build Mathlib.Tactic.Simps.Basic

    - name: Full report
      run: |
        ./scripts/late_importers.sh Mathlib.Tactic.Simps.Basic 0 0 "${{ github.run_id }}"

    - name: Zulip report
      id: late_importers
      run: |
        jobID="${{ github.run_id }}"
        printf $'summary<<EOF\n%s\nEOF' "$(./scripts/late_importers.sh Mathlib.Tactic.Simps.Basic 15 10 "${jobID}")" |
          tee "$GITHUB_OUTPUT" | column -s'|' -o'|' -t

    - name: downstream imports
      id: report_really
      run: |
        files="$(
          printf '%s\n' "${{ steps.late_importers.outputs.summary }}" |
            sed -n '/\.html/{s=^[^[]*\[\(Mathlib[^]]*\).lean].*=`\1,=p}' | sed -z 's=/=.=g; s=\n=\\n  =g; s=,\\n* *$=='
          )"
        printf '%s\n' "$files"
        sed -i "s=-- insert module names here=$files=" scripts/downstream_counts.lean
        printf $'summary<<EOF\n%s\nEOF' "$(
          paste -d' ' <(echo "${{ steps.late_importers.outputs.summary }}") <(
            printf $'Downstream files |\n-: |\n%s' "$(lake env lean scripts/downstream_counts.lean | sed 's=$= |=')") |
            awk 'BEGIN{FS="|"; OFS="|"} (1 < NF) {print $1, $2, $3, $4, $6, $5, $7} (NF <= 1) {print $0}'
          )" | tee "$GITHUB_OUTPUT"

    #- name: Post output to Zulip
    #  uses: zulip/github-actions-zulip/send-message@v1
    #  with:
    #    api-key: ${{ secrets.ZULIP_API_KEY }}
    #    email: 'github-mathlib4-bot@leanprover.zulipchat.com'
    #    organization-url: 'https://leanprover.zulipchat.com'
    #    to: 'mathlib4'
    #    type: 'stream'
    #    topic: Late importers report
    #    content: ${{ steps.report_really.outputs.summary }}
