on:
  pull_request

name: lint and suggest

jobs:
  lint_and_suggest:
    if: github.repository == 'leanprover-community/mathlib4' && github.event.pull_request.draft == false
    name: Lint and suggest
    runs-on: ubuntu-latest
    steps:
      - uses: leanprover-community/lint-style-action@a7e7428fa44f9635d6eb8e01919d16fd498d387a # 2025-08-18
        with:
          mode: suggest
          lint-bib-file: true
