
on:
  pull_request

name: lint and suggest

jobs:
  style_lint:
    if: github.repository == 'leanprover-community/mathlib4' && github.event.pull_request.draft == false
    name: Lint style
    runs-on: ubuntu-latest
    steps:
      - name: cleanup
        run: |
          find . -name . -o -prune -exec rm -rf -- {} +

      - uses: actions/checkout@v4

      - name: install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: lint
        continue-on-error: true
        run: |
          ./scripts/lint-style.sh --fix

      - name: suggester / lint-style
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: lint-style

      - name: Install bibtool
        run: |
          sudo apt-get update
          sudo apt-get install -y bibtool

      - name: lint references.bib
        continue-on-error: true
        run: |
          ./scripts/lint-bib.sh

      - name: suggester / lint-bib
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: lint-bib

  check_imported:
    if: github.repository == 'leanprover-community/mathlib4' && github.event.pull_request.draft == false
    name: Check all files imported
    runs-on: ubuntu-latest
    steps:
      - name: cleanup
        run: |
          find . -name . -o -prune -exec rm -rf -- {} +

      - uses: actions/checkout@v4

      - name: install elan
        run: |
          set -o pipefail
          curl -sSfL https://github.com/leanprover/elan/releases/download/v3.0.0/elan-x86_64-unknown-linux-gnu.tar.gz | tar xz
          ./elan-init -y --default-toolchain none
          echo "$HOME/.elan/bin" >> "${GITHUB_PATH}"

      - name: update {Mathlib, Tactic, Counterexamples, Archive}.lean
        run: lake exe mk_all

      - name: suggester / import list
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: imports
