on:
  pull_request

name: lint and suggest

jobs:
  lint_and_suggest:
    if: github.repository == 'leanprover-community/mathlib4' && github.event.pull_request.draft == false
    name: Lint and suggest
    runs-on: ubuntu-latest
    steps:
      - uses: leanprover-community/lint-style-action@a7e7428fa44f9635d6eb8e01919d16fd498d387a # 2025-08-18
        with:
          mode: suggest
          lint-bib-file: true
      - name: All Mathlib files have a .lean or .md extension
        run: |
          exc="$(git ls-files 'Mathlib/*' | grep -v "\.\(lean\|md\)$" || true)"
          printf '%s\n' "${exc}"
          if [ -n "${exc}" ];
          then
            printf $'There are files whose extension is neither \'.lean\' nor \'.md\' in Mathlib/:\n\n%s\n' "${exc}"
            printf $'\nPlease, make sure that this is really what you want!\n'
            exit 1
          fi
