name: Zulip emoji merge update

on:
  push:
    branches:
      - master
      - bump/*

jobs:
  zulip-emoji-merged:
    runs-on: ubuntu-latest
    if: github.repository == 'leanprover-community/mathlib4'

    steps:
    - name: Checkout mathlib repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0 # download the full repository

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install zulip

    - name: Update zulip emoji reactions
      env:
        ZULIP_API_KEY: ${{ secrets.ZULIP_API_KEY }}
        ZULIP_EMAIL: github-mathlib4-bot@leanprover.zulipchat.com
        ZULIP_SITE: https://leanprover.zulipchat.com
      run: |
          # scan the commits of the past 10 minutes, assuming that the timezone of the current machine
          # is the same that performed the commit
          git log --since="10 minutes ago" --pretty=oneline

          printf $'Scanning commits:\n%s\n\nContinuing\n' "$(git log --since="10 minutes ago" --pretty=oneline)"
          while read -r pr_number; do
            printf $'Running the python script with pr "%s"\n' "${pr_number}"
            python scripts/zulip_emoji_reactions.py "$ZULIP_API_KEY" "$ZULIP_EMAIL" "$ZULIP_SITE" "[Merged by Bors]" "none" "${pr_number}"
          done < <(git log --oneline -n 10 | awk -F# '{ gsub(/)$/, ""); print $NF}')
