name: Add "closed-pr" emoji in Zulip

# triggers the action when
on:
  pull_request:
    # the pull request is closed
    types: [closed]

jobs:
  add_closed_pr_emoji:
    # we set the `TITLE` of the PR as a variable, this shields from possible code injection
    env:
      TITLE: ${{ github.event.pull_request.title }}

    name: Add closed-pr emoji in Zulip
    runs-on: ubuntu-latest
    steps:
      - name: Debugging information
        run: |
          # may be superfluous: GitHub may print the values of the environment variables by default
          printf '%s' "${TITLE}" | hexdump -cC
          printf 'PR title:"%s"\n' "${TITLE}"
          printf 'issue number: %s\npull request number: %s\n' "${{ github.event.issue.number }}" "${{ github.event.pull_request.number }}"

      - name: Set up Python
        if: ${{ ! startsWith(github.event.pull_request.title, '[Merged by Bors]') }}
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        if: ${{ ! startsWith(github.event.pull_request.title, '[Merged by Bors]') }}
        run: |
          python -m pip install --upgrade pip
          pip install zulip

      - name: checkout zulip_emoji_merge_delegate script
        if: ${{ ! startsWith(github.event.pull_request.title, '[Merged by Bors]') }}
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts/zulip_emoji_merge_delegate.py

      - name: Run Zulip Emoji Merge Delegate Script
        if: ${{ ! startsWith(github.event.pull_request.title, '[Merged by Bors]') }}
        env:
          ZULIP_API_KEY: ${{ secrets.ZULIP_API_KEY }}
          ZULIP_EMAIL: github-mathlib4-bot@leanprover.zulipchat.com
          ZULIP_SITE: https://leanprover.zulipchat.com
        run: |
          python scripts/zulip_emoji_merge_delegate.py "$ZULIP_API_KEY" "$ZULIP_EMAIL" "$ZULIP_SITE" "closed" "${{ github.event.issue.number }}${{ github.event.pull_request.number }}"
